<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_06_Operators Part 1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Calculate Annual Salary (1.6.1)

In [1]:
# Code Needed
monthly_salary = 8000
annual_sal = monthly_salary * 12
annual_sal

96000

---

## ðŸŸ© Compare Salaries (1.6.2)

In [2]:
# Code Needed
avg_salary_analyst = 70000
avg_salary_scientist = 85000
if avg_salary_analyst > avg_salary_scientist:
  print("analyst salary is higher")
else:
  print("scientist salary is higher")

scientist salary is higher

---

## ðŸŸ¨ Calculate Remainder (1.6.3)

In [3]:
# Code Needed
total_applications = 123
job_openings = 67
remainder = total_applications % job_openings
remainder

56

---

## ðŸŸ¨ Increment Job Postings (1.6.4)

In [6]:
# Code Needed
job_postings = 20
job_postings += 10
job_postings

30

---

## ðŸŸ¨ Calculate Average Salary (1.6.5)

In [8]:
# Code Needed
min_salary = 50000
max_salary = 120000
average_sal = ( min_salary + max_salary) / 2
average_sal

85000.0

---