<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_09_Dictionaries.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Postings (1.9.1)

In [4]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['Data Scientist']

120

---

## ðŸŸ© Add Job Role (1.9.2)

In [10]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.update({"AI Engg":23})
job_postings

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Engg': 23}

---

## ðŸŸ¨ Remove Job Role (1.9.3)

In [15]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop("Data Scientist")

120

---

## ðŸŸ¨ Merge Dictionaries (1.9.4)

In [20]:
# Code Needed
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
job_postings1

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

---

## ðŸŸ¥ Create Nested Dictionary (1.9.5)

In [22]:
student = {'Name':'Aarthi','Age':23,'Marks':{'Science':97,'Maths':99,'Social':100}}
student

{'Name': 'Aarthi',
 'Age': 23,
 'Marks': {'Science': 97, 'Maths': 99, 'Social': 100}}

---