<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_11_Tuples.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Role (1.11.1)

In [1]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles[1]

'Data Analyst'

---

## ðŸŸ¨ Add Job Role to Tuple (1.11.2)

In [8]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles = job_roles + ('AI Engineer',)
job_roles

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Engineer')

---

## ðŸŸ¨ Remove Job Role from Tuple (1.11.3)

In [16]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_rules1 = list(job_roles)
job_rules1.remove('Data Scientist')
job_roles = tuple(job_rules1)
job_roles

('Data Analyst', 'Machine Learning Engineer')

---

## ðŸŸ¨ Unpack Job Postings Tuple (1.11.4)

In [17]:
# Code Needed
job_postings = (120, 80, 50)
job1,job2,job3 = job_postings
job_postings

(120, 80, 50)

---

## ðŸŸ¥ Extract Nested Value from Tuple (1.11.5)

In [18]:
# Code Needed
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
job1,job2,job3 = job_details
job_details

(('Data Scientist', 120),
 ('Data Analyst', 80),
 ('Machine Learning Engineer', 50))

---