<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_12_Operators Part 2.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Check Object Identity (1.12.1)

In [1]:
# Code Needed
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'
job_title1 is job_title2

False

---

## ðŸŸ© Check Membership in List (1.12.2)

In [5]:
# Code Needed
job_locations = ['New York', 'San Francisco', 'Austin']
print("New York" in job_locations)
'San Francisco' not in job_locations

True

False

---

## ðŸŸ¨ Check Substring Not in String (1.12.3)

In [7]:
# Code Needed
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'
job_description in job_title

False

---

## ðŸŸ¨ Check Multiple Memberships (1.12.4)

In [8]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
'Data Scientist' and 'Data Analyst' in job_titles

True

---

## ðŸŸ¥ Bitwise OR Operation (1.12.5)

In [14]:
# Code Needed
salary1 = 100000
salary2 = 50000
result = salary1 | salary2
result

116720

---