<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [1]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for job in job_titles:
  print(job)

Data Scientist
Data Analyst
Machine Learning Engineer

---

## ðŸŸ© Total Job Postings (1.13.2)

In [11]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]
number = 0
for job in job_postings:
  number += job
print(number)

75

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [15]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for index,job in enumerate(job_titles):
  print(f'index:{index},Job Title:{job}')

index:0,Job Title:Data Scientist
index:1,Job Title:Data Analyst
index:2,Job Title:Machine Learning Engineer

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [17]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
for i in job_titles:
  first_value = i
  break
print(first_value)

Data Scientist

---

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [21]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}
list(filter(lambda job: 'Data' in job,positions_skills))

['Data Scientist', 'Data Analyst']

---