<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_14_List Comprehensions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Convert Salaries to EUR (1.14.1)

In [2]:
# Code Needed
salaries_usd = [100000, 120000, 80000, 90000]
salary  = [f"â‚¬{amount:,.2f}" for amount in salaries_usd]
print(salary)

['â‚¬100,000.00', 'â‚¬120,000.00', 'â‚¬80,000.00', 'â‚¬90,000.00']

---

## ðŸŸ¨ Create List of Data Jobs (1.14.2)

In [3]:
# Code Needed
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
print(list(job_experience))

['Data Scientist', 'Data Analyst', 'Machine Learning Specialist', 'Data Engineer']

---

## ðŸŸ¥ Extract High Salary Jobs (1.14.3)

In [17]:
# Code Needed
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]
salaries = []
for key in job_salary_dicts:
 #print(key['salary'])
 salaries.append(key['salary'])
print(salaries)
max(salaries)

[100000, 120000, 80000, 90000]

120000

---