<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_16_Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Job Title Contains (1.16.1)

In [1]:
# Code Needed
job_title = 'Data Scientist'
keyword = 'Data'
'Data' in job_title

True

---

## ðŸŸ© Average Salary (1.16.2)

In [34]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]
minimum = min(salaries)
maximum = max(salaries)
average_salary =( minimum + maximum ) / 2
print(average_salary)

110000.0

---

## ðŸŸ¨ Salary Statistics (1.16.3)

In [45]:
# Code Needed
import statistics
salaries = [95000, 120000, 105000, 90000, 130000]
salary_1 = min(salaries)
salary_2 = max(salaries)
average_sal = (salary_1 + salary_2) / 2
print("The average of salaries : ", average_sal)
salary_3 = statistics.median(salaries)
print("The median of salaries : ", salary_3)
salary_4 = statistics.mean(salaries)
print("The mean of salaries : " ,salary_4)

The average of salaries :  110000.0
The median of salaries :  105000
The mean of salaries :  108000

---

## ðŸŸ¥ Job Posting Summary (1.16.4)

In [63]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]
location = [job for job in job_postings if job['location']=='New York']
print(location)
job_postings.sort(key = lambda x: x['salary'])
print(job_postings)

[{'title': 'Data Scientist', 'location': 'New York', 'salary': 95000}, {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}]
[{'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000}, {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000}, {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}]

---