<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_17_Lambda.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Calculate Average Salary (1.17.1)

In [2]:
# Code Needed
import statistics
salaries = [95000, 120000, 105000, 90000, 130000]
average_sal = statistics.mean(salaries)
average_sal

108000

---

## ðŸŸ¨ Filter Job Titles (1.17.2)

In [11]:
# Code Needed
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
print(list(filter(lambda job : 'Data' in job, job_titles)))
list(filter(lambda jobs : 'Engineer' in jobs , job_titles))

['Data Scientist', 'Data Engineer', 'Data Analyst']

['Data Engineer', 'Machine Learning Engineer']

---

## ðŸŸ¥ Filter Remote Python Jobs (1.17.3)

In [18]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]
print(list(filter(lambda job : job['remote'] , job_postings)))
print(list(filter(lambda jobs : 'Python' in jobs['skills'] and 'SQL' in jobs['skills'],job_postings)))

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True}, {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True}, {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}]
[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True}]

---