<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_21_Classes.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create JobPosting Class (1.21.1)

In [9]:
from types import resolve_bases
# Create the JobPostings class in this code cell
class JobPosting:
  def __init__(self,role,company,place):
    self.role = role
    self.company = company
    self.place = place

In [12]:
# Code Needed
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')

---

## ðŸŸ¨ Convert to Dictionary (1.21.2)

In [17]:
# Create the JobPostings class in this code cell
class JobPosting:
  def __init__(self,role,company,place,salary):
    self.role = role
    self.company = company
    self.place = place
    self.salary = salary

  def to_dict(self):
    return {
      'role': self.role,
      'company':self.company,
      'place':self.place,
      'salary':self.salary
    }
  pass

In [18]:
# Code Needed
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job_dict = job.to_dict()
job_dict

{'role': 'Data Scientist',
 'company': 'Tech Innovations',
 'place': 'New York',
 'salary': 120000}

---

## ðŸŸ¥ Compare Job Salaries (1.21.3)

In [ ]:
# Create the JobPostings class in this code cell
class JobPosting:
  def __init__(self,role,company,place,salary):
    self.role = role
    self.company = company
    self.place = place
    self.salary = salary

In [21]:
# Code Needed
job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 100000)
if job1.salary > job2.salary:
  print("Job1 has higher salary")
else:
  print("job2 has higher salary")

Job1 has higher salary

---