<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_22_NumPy.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create NumPy Array (1.22.1)

In [2]:
import numpy as np
applications_list = [10, 15, 7, 20, 25, 30, 5]
np.array(applications_list)

array([10, 15,  7, 20, 25, 30,  5])

---

## ðŸŸ© Slicing Array (1.22.2)

In [4]:
# Code Needed
import numpy as np
postings_list = [10, 15, 7, 20, 25, 30, 5]
np.array(postings_list)
postings_list[0:2]

[10, 15]

---

## ðŸŸ¨ Highest and Lowest Salary (1.22.3)

In [8]:
# Code Needed
import numpy as np
salaries_list = [70000, 85000, 60000, 95000, 80000]
np.array(salaries_list)
print("The minimum value", min(salaries_list))
print("The maximum value", max(salaries_list))

The minimum value 60000
The maximum value 95000

---